/* normalization */
* {
  font-family: 'Space Mono', monospace;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
  min-width: 100%;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variables */
:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-white: #e3e3e3;
  --color-black: #1e1e1e;
  --color-dark: #424242;
  --color-beige: #e0cfba;
  --color-orange: #dd8560;
}

/* common rules */
body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-white);
  color: var(--color-black);
  position: relative;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.defaultButton {
  padding: 8px 16px;
  border: 1px solid var(--color-white);
  outline: none;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 4px;
  transition: all 0.3s ease;
}
.defaultButton:hover {
  scale: 1.01;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-dark);
  color: var(--color-white);
}
.header {
  width: 100dvw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  background-color: var(--color-dark);
}
.headerLogo {
  text-decoration: none;
  color: var(--color-white);
  cursor: default;
}
.headerLogo h1 {
  margin: 0;
  font-size: 26px;
}
.headerMenuList {
  display: flex;
  align-items: center;
  gap: 40px;
}
.headerMenuLink a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}
.headerMenuLink a.active::before {
  content: '.';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.main {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: calc(100dvh - 136px);
  overflow: scroll;
}
.footer {
  width: 100dvw;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  color: var(--color-white);
}
.mainPageContainer {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.mainTitle {
  font-size: 40px;
}
.mainText {
  font-size: 20px;
}
.footerText,
.footerAnchor {
  font-size: 18px;
}
.footerAnchor {
  color: var(--color-white);
  transition: all 0.3s ease;
}
.footerAnchor:hover {
  color: var(--color-orange);
}
.usersListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.userInfoSubstrate {
  text-align: center;
  font-size: 18px;
  padding: 20px 28px;
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 8px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.userInfoSubstrate:hover {
  scale: 1.01;
  background-color: var(--color-orange);
  color: var(--color-black);
}
.userInfoSubstrate p {
  margin: 0;
}
.userAnchor {
  margin-top: 8px;
  color: var(--color-orange);
}
.userInfoSubstrate:hover .userAnchor {
  color: var(--color-white);
}
.detailsSubstrate * {
  margin: 0;
}
.detailsSubstrate {
  padding: 20px 40px;
  background-color: var(--color-dark);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 8px;
}
